/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2020, 12:55:06 PM
    Author     : ljavier
*/
@charset "utf-8";

body{
    background-image:url("images/podcast.jpg");
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#play{
    width:50px;
    height:50px;
    padding: 5px;
    background-color: transparent;  
} 

nav{
 margin: 10px 0;   
    
}
#botones{
    float: left;
    width:200px;
    height:200px;
}


#barra{
    background:#ffffff;
    width:400px;
    height: 16px;
    border: 1px solid #666;
    padding: 3px;
    margin-left:100px;
    
}
#progreso{
   position:absolute;
   width: 0px;
   height: 16px;
   background: chartreuse;
    
}

#audio{
    width: 55px;
    height: 55px;
    background-color: orange;

}



